{% extends 'base.html' %}

{% block header %}Add new server{% endblock %}
{% block content_header %}Add new server{% endblock %}
{% block content %}

<form action="{{url_for('serverinventory.add_server')}}" method="POST">

    <div class="form-group">
        {% for item in form %}

        {{ item.label() }}
        {{ item(class='form-control') }}
        {% endfor %}
    </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}