{% extends 'base.html' %}
{% block header %}
Server Inventory
{% endblock %}
{% block content_header %}

{% endblock %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Hostname</th>
        <th scope="col">IP address</th>
        <th scope="col">OS Type</th>
        <th scope="col">OS Version</th>
        <th scope="col">Description</th>
        <th scope="col">CPU</th>
        <th scope="col">RAM</th>
        <th scope="col">Storage</th>
        <th scope="col">Server Localtion</th>
        <th scope="col">Server DB Type</th>
      </tr>
    </thead>
    <tbody>
{% for item in servers %}

      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{item.ser_hostname}}</td>
        <td>{{item.ser_ip}}</td>
        <td>{{item.ser_os_type}}</td>
        <td>{{item.ser_os_version}}</td>
        <td>{{item.ser_description}}</td>
        <td>{{item.ser_cpu}}</td>
        <td>{{item.ser_ram}}</td>
        <td>{{item.ser_storage}}</td>
        <td>{{item.ser_phy_location}}</td>
        <td>{{item.ser_database_type}}</td>
      </tr>
 {% endfor %}
</tbody>
</table>

{% endblock %}