{% extends 'base.html' %}
{% block title %}Register | Flask blog{% endblock %}
{% block content_header %}{{ _('Register') }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-4">
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<h1>{{ _('Register') }}</h1>
  <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
    {{ register_user_form.hidden_tag() }}
    {{ render_field_with_errors(register_user_form.email, class='form-control') }}
    {{ render_field_with_errors(register_user_form.password, class='form-control') }}
    {% if register_user_form.password_confirm %}
      {{ render_field_with_errors(register_user_form.password_confirm, class='form-control') }}
    {% endif %}
    {{ render_field(register_user_form.submit, class='btn btn-primary') }}
  </form>
  </div>
</div>
{% endblock %}
