{% extends 'base.html' %}
{% block header %}{{post.title}}{% endblock %}
{% block content_header %}
{{post.title}}
{% endblock %}

{% block content %}
<div class="tags">
    {% for tag in tags%}
<a href="{{ url_for( 'blog.tag_details', slug=tag.name) }}"<span class="badge badge-success">{{ tag.name }}</span></a>
    {% endfor %}
</div>

{{post.body}}
{% endblock %}