{% extends 'base.html' %}

{% block title %} New Post{% endblock %}

{% block content_header %}New Post{% endblock %}
{% block content %}
<form action="{{url_for('blog.create_post')}}" method="POST">

    <div class="form-group">
        {% for item in form %}

        {{ item.label() }}
        {{ item(class='form-control') }}
        {% endfor %}
    </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
