{% extends 'base.html' %}
{% block header %}
My BLOG
{% endblock %}
{% block content_header %}
My BLOG Posts
{% endblock %}

{% block content %}
{% for post in pages.items %}
<p>
    <a href="{{ url_for('blog.post_details',slug=post.slug)}}">{{post.title}}</a>
</p>
{% endfor %}
<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item {% if not pages.has_prev %}disabled{% endif %}">
        <a class="page-link" href="./?page={{pages.prev_num}}" tabindex="-1" {% if not pages.has_prev %}aria-disabled="true"{% endif %}>Previous</a>
      </li>
      {% for page in pages.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
      {% if page %}
      <li {% if page == pages.page %}class="page-item active" aria-current="page"{% endif %} >
        <a class="page-link" href="./?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li class="page-item disabled">
      <a class="page-link" href="./?page={{page}}">...<span class="sr-only">(current)</span></a>
       </li>
      {% endif %}
      {% endfor %}
      <li class="page-item {% if not pages.has_next %}disabled{% endif %}">
        <a class="page-link" href="./?page={{pages.next_num}}" {% if not pages.has_prev %}aria-disabled="true"{% endif %}>Next</a>
      </li>
    </ul>
  </nav>
{% endblock %}