<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block header %}{% endblock %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">Main</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('blog.index') }}">Blog</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('blog.create_post') }}">CreatePost</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="/logout">Logout</a>
            </li>
            {% if current_user.has_role('admin') %}
            <li class="nav-item">
              <a class="nav-item nav-link" href="/admin">Admin</a>
            </li>
            {% endif %}
            {% else %}
            <li class="nav-item">
              <a class="nav-item nav-link" href="/login">Login</a>
            </li>
            {% endif %}
          </ul>
          <form action="{{ url_for('blog.index')}}" class="form-inline my-2 my-lg-0" method = "GET">
            <input class="form-control mr-sm-2" name = "q" value = "{{ request.args.get('q','')}}" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="container-fluid">
          
            <h1>{% block content_header %}{% endblock %}</h1>
            <p>{% block content %}{% endblock %}</p>
            
         
      </div>


</body>
</html>